.vs/
.vscode/
.idea/
/Builds~/
*node_modules/
node_modules.meta
Go.meta
go.mod.meta
go.sum.meta
go.work.meta
go.work.sum.meta
NuGet.config.meta
*.DS_Store
*.env*
*.log*
*.sln.docstates*
*.sln.meta
*.suo*
*.tmp*
*.user*
*.userosscache*